<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jiangdongjian.mengquan">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".app.MyApp"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.LoginActivity"></activity>

        <!-- sandbox environment -->
        <meta-data
            android:name="com.droi.sdk.application_id"
            android:value="xe8umbzhZypNepsrj1D6ZheBjDDerM2BlQBHlBUF"></meta-data>

        <!-- prod environment -->
        <!--<meta-data-->
        <!--android:name="com.droi.sdk.application_id"-->
        <!--android:value="q2zvmbzh-ZdlM3uqPi1OUaMzgWeWkTBllQA29AIA"></meta-data>-->

        <meta-data
            android:name="com.droi.sdk.channel_name"
            android:value="DROI_CHANNEL" />
        <meta-data
            android:name="com.droi.sdk.platform_key"
            android:value="IKxzEKp5AWi8O9pIilm4PShtFgNoZCq4PShtFgNo" />
        <!-- app info end -->
    </application>

</manifest>